<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Comment rendre l'enseignement de l'informatique dynamique et engageant ?</title>
    <meta name="description"
        content="Vous galérez à maintenir l'attention de vos étudiants en informatique? Delibay est peut-être la solution."
        property="description">
    <meta name="keywords"
        content="enseignement, informatique, programmation, code, cours, étudiant, engagement, attention, pratique, exercice, magistral, ex cathedra"
        property="keywords">
    <meta name="og:title" content="Comment rendre l'enseignement de l'informatique dynamique et engageant ?"
        property="og:title">
    <meta name="og:description" content="" property="og:description">
    <meta name="og:image" content="schemas/dashboard-short-answer.png" property="og:image">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="assets/typography.min.css">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <main
        class="py-10 px-4 md:px-10 w-full
            !max-w-[120ch]
            mx-auto
            prose prose-base sm:prose-base md:prose-lg prose-zinc max-w-full prose-h1:!mt-2 prose-h2:!mt-3 prose-h3:!mt-3 prose-h4:!mt-4 prose-h5:!mt-3 prose-h6:!mt-3 prose-h1:!mb-0 prose-h2:!mb-1 prose-h3:!mb-1 prose-h4:!mb-1 prose-h5:!mb-1 prose-h6:!mb-1 prose-li:!m-0 prose-ol:!mt-0 prose-ul:!mt-0 prose-ol:!mb-2 prose-ul:!mb-2 prose-p:!mt-2 prose-p:!mb-1 prose-img:!mt-1 prose-img:!mb-0 prose-img:!h-auto prose-th:!border prose-td:!border prose-th:!p-2 prose-td:!p-2 prose-pre:!mt-1 prose-pre:!mb-2 prose-pre:!p-2 prose-pre:!px-4 prose-pre:whitespace-pre-wrap selection:bg-blue-100 selection:text-black justify-center flex"
        markdown="1">
        <div>
            {{ content }}
        </div>
    </main>
</body>

</html>
