<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <meta name="description" content="" property="description">
    <meta name="keywords" content="" property="keywords">
    <meta name="viewport" content="" property="viewport">
    <meta name="og:title" content="" property="og:title">
    <meta name="og:description" content="" property="og:description">
    <meta name="og:image" content="" property="og:image">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css">

    <style>
        @import "tailwindcss"

        .box {
            padding: 5pt;
        }
    </style>
</head>

<body>
    <main class="prose prose-md p-5">
        {{ content }}
    </main>
</body>

</html>
